@charset "UTF-8";
/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/
.card__icon-button {
	width: 39px;
	height: 36px;
	padding: 0;
	border: none;
	display: flex;
	justify-content: center;
	align-items: center;
	background: transparent;
	cursor: pointer;
}
.card__icon-button .like-icon {
	width: 39px;
	height: 36px;
}
.card__icon-button .like-icon .sparks {
	opacity: 0;
}
.card__icon-button .like-icon .core {
	fill: transparent;
	transition: fill 0.3s 0.03s;
}
.card__icon-button .like-icon .main-body {
	fill: transparent;
	transition: fill 0.3s;
}
.card__icon-button:hover .like-icon .core {
	fill: var(--icon-stroke-color);
	transition-delay: 0s;
}
.card__icon-button:hover .like-icon .main-body {
	fill: var(--icon-stroke-color);
	transition-delay: 0.03s;
}
.card__icon-button:active .like-icon .core {
	fill: var(--icon-fill-color);
	transition-delay: 0s;
}
.card__icon-button:active .like-icon .main-body {
	fill: var(--icon-fill-color);
	transition-delay: 0.03s;
}
.card__icon-button .like-icon.is-liked {
	animation: heart-zoom 0.3s ease-in 0.1s;
}
.card__icon-button .like-icon.is-liked .core {
	fill: var(--icon-fill-color);
	transition: fill 0.3s;
}
.card__icon-button .like-icon.is-liked .main-body {
	fill: var(--icon-fill-color);
	transition-delay: 0.03s;
	transition: fill 0.3s;
}
.card__icon-button .like-icon.is-liked .contour {
	fill: var(--icon-fill-color);
	transition-delay: 0.06s;
	transition: fill 0.3s 0.1s;
}
.card__icon-button .like-icon.is-liked .sparks {
	animation: sparks 0.3s ease-in 0.3s;
}

@keyframes heart-zoom {
	from {
		transform: scale(1);
	}
	to {
		transform: scale(1.25);
	}
}

@keyframes sparks {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
